.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  margin-top: 1rem;
}

.link {
  width: 80%;
  height: 1.5rem;
  color: white;
  background-color: hsl(0, 0%, 20%);
  text-align: center;
  padding-top: 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.link:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}
